.wrapper {
    padding-top: 12rem;
}

.burning_text {
    background: #ff0000;
    background: linear-gradient(
      to right,
      #ff0000,#fdcf58
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.sub_heading {
    
}